<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="/Estilo.css" th:href="@{/Estilo.css}" rel="stylesheet" type="text/css">
        <title>Mis Cotizaciones</title>
    </head>
    <body>
        <h1 class="logo"></h1>
        <h2>Presione "Refrescar" para obtener las ultimas cotizaciones</h2>
        <ul th:each="cotizacion : ${cotizacionListado}">
            <div th:if="${cotizacion.getPrecio()} &gt; 0">
                <td th:text="${cotizacion}">
            </div>
            <div th:if="${cotizacion.getPrecio()} &lt; 0">
                <td th:text="${cotizacion.getNombreProveedor()}">
                <td>: (El proveedor no se encuentra disponible)</td>
            </div>
        </ul>
        <a href="/ListadoCotizaciones">Refrescar</a>
    </body>
</html>
